<!-- <router-outlet></router-outlet> -->
<main>
  <div>
    <div class="d-flex justify-content-center">
     

      <div class="mt-5 text-center">
        <div id="form">
          <h1 class="text-white">Todo List +</h1>
          <div class="d-flex justify-content-center mt-3 mb-4">
            <input type="text" class="form-control" placeholder="Add New Todo" [(ngModel)]="newTodo"/>

            <button type="submit" (click)="addTodo()" class="btn btn-primary ms-3">
              Add
            </button>
          </div>
          
          <div class="d-flex mt-2" *ngFor="let todo of todos | async">
            <div class="border border-1 bg-white d-flex align-items-center" style= "width: 100%" >
              <input class="form-check-input ms-2 mb-1 fs-4" type="checkbox" value="" id="flexCheckDefault" />
              <label class="form-check-label ms-5" for="flexCheckDefault">
               {{todo?.todo}}
              </label>
            </div>
            <button class="btn btn-danger" type="button">
              x
              <!-- <BsFillTrashFill /> -->
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>